p
{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1
{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.linkir
{
    color: aqua;
}

.btnvolver
{
    background-color: blueviolet;
    font-weight: bold;
}